.site-header .site-logo-image img{height:60px}
.vc_custom_1453085217674{margin-bottom:0px !important;padding-bottom:60px !important;background-color:#edf3f4 !important;}
.vc_custom_1453113651999{margin-bottom:0px !important;padding-top:20px !important;padding-bottom:60px !important;background-color:#ffffff !important;}
.vc_custom_1453089963538{padding-bottom:60px !important;background-color:#2f2b35 !important;}
.vc_custom_1453092599145{padding-top:40px !important;padding-bottom:40px !important;background-color:#ffffff !important;}
.vc_custom_1453093155486{margin-bottom:0px !important;padding-bottom:60px !important;background-color:#edf3f4 !important;}
.vc_custom_1453098699522{padding-top:40px !important;padding-bottom:0px !important;background-color:#ffffff !important;}
.vc_custom_1453099386743{margin-bottom:0px !important;padding-top:0px !important;padding-bottom:0px !important;background-color:#ffffff !important;}
.vc_custom_1453099526859{padding-bottom:20px !important;background-color:#ffffff !important;}
.vc_custom_1453112775660{padding-right:50px !important;}
.vc_custom_1453099626893{margin-bottom:10px !important;}
body{background:#72cffa;overflow-x: hidden;}
.modal-transparent{background:transparent;}
.modal-transparent .modal-content{background:transparent;}
.modal-backdrop.modal-backdrop-transparent{background:#ffffff;}
.modal-backdrop.modal-backdrop-transparent.in{opacity:.9;filter:alpha(opacity=90);}
.modal-fullscreen{background:transparent;}
.modal-fullscreen .modal-content{background:transparent;border:0;-webkit-box-shadow:none;box-shadow:none;}
.modal-backdrop.modal-backdrop-fullscreen{background:#ffffff;}
.modal-backdrop.modal-backdrop-fullscreen.in{opacity:.97;filter:alpha(opacity=97);}
.modal-fullscreen .modal-dialog{background-color:#ffffff;margin:0;margin-right:auto;margin-left:auto;width:100%;}
@media (min-width:768px){.modal-fullscreen .modal-dialog{width:750px;}
}
@media (min-width:992px){.modal-fullscreen .modal-dialog{width:970px;}
}
@media (min-width:1200px){.modal-fullscreen .modal-dialog{width:1170px;}
}
.dropdown-menu>li>a{color:#ffffff;}
.vc_custom_1466502685722{background-image:url(../images/banner-browse.jpg) !important;background-position:center !important;background-repeat:no-repeat !important;background-size:cover !important;}
.background-none{background-color:transparent !important;}
.background-none .products .product{width:33.33% !important;}
.logo-icon{color:#ffffff !important;font-size:70px !important;}
