.df-abs-center{top:50%;left:50%;position:absolute;-webkit-transform:translate(-50%, -50%);-moz-transform:translate(-50%, -50%);-ms-transform:translate(-50%, -50%);transform:translate(-50%, -50%);}
.df-abs-h-center{position:absolute;left:50%;-webkit-transform:translate(-50%);-moz-transform:translate(-50%);-ms-transform:translate(-50%);transform:translate(-50%);}
.df-container{min-height:320px;background-repeat:no-repeat;background-position:50%;width:100%;position:relative;image-rendering:auto;font-family:arial;}
.df-3dcanvas{position:absolute;z-index:1;right:0;}
.df-container > canvas{}
.df-container a{outline:none;text-decoration:none;box-shadow:none;}
.df-container.df-zoom-enabled canvas.df-3dcanvas,
.df-container.df-zoom-enabled .df-book-stage{cursor:move;cursor:-webkit-grab;}
.df-container.df-loading:before, .df-container.df-loading:after{content:" ";position:absolute;z-index:0;height:50px;width:50px;left:50%;top:50%;font-size:12px;margin:-25px;}
.df-container.df-loading:after{content:" ";background-image:url("../images/loading.gif?");background-repeat:no-repeat;background-size:32px;background-position:50%;}
.df-container.df-loading:before{background-color:white;-webkit-border-radius:50px;-moz-border-radius:50px;-ms-border-radius:50px;border-radius:50px;}
.df-book-stage{position:absolute;overflow:hidden;right:0;bottom:0;z-index:1;top:0;left:0;filter:blur(0);-webkit-filter:blur(0);padding:30px 50px 70px;}
.df-container.df-sidemenu-open .df-book-stage{padding-left:230px;padding-right:10px;}
.df-container.df-sidemenu-open >.df-ui-btn.df-ui-prev{left:220px;}
.df-book-stage.df-zoom-enabled{cursor:move;}
.df-page-front:before, .df-page-back:before{content:" ";}
.df-book-page .df-page-front:before{background-image:-webkit-linear-gradient(right, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.2) 10%, rgba(0, 0, 0, 0.15) 25%, rgba(0, 0, 0, 0) 70%);background-image:-moz-linear-gradient(right, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.2) 10%, rgba(0, 0, 0, 0.15) 25%, rgba(0, 0, 0, 0) 70%);background-image:-ms-linear-gradient(right, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.2) 10%, rgba(0, 0, 0, 0.15) 25%, rgba(0, 0, 0, 0) 70%);}
.df-book-page .df-page-back:before{background-image:-webkit-linear-gradient(left, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.15) 15%, rgba(255, 255, 255, 0.07), rgba(255, 255, 255, 0.0));background-image:-moz-linear-gradient(left, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.15) 15%, rgba(255, 255, 255, 0.07), rgba(255, 255, 255, 0.0));background-image:-ms-linear-gradient(left, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.15) 15%, rgba(255, 255, 255, 0.07), rgba(255, 255, 255, 0.0));}
.df-book-wrapper, .df-page-wrapper, .df-book-page, .df-page-content,
.df-page-front:before, .df-page-wrapper:after, .df-page-back:before,
.df-page-content:after, .df-page-effects, .df-page-effects:before, .df-page-effects{position:absolute;height:100%;display:block;top:0;}
.df-page-content, .df-book-page{width:100%;}
.df-book-wrapper{position:relative;margin:0 auto;transition:0.3s left;left:0;}
.df-loading.df-container .df-book-wrapper{left:100%;}
.df-book-wrapper.close-right{left:25%;}
.df-book-wrapper.close-left{left:-25%;}
.df-book-shadow{position:absolute;z-index:-1;height:100%;-webkit-box-shadow:0 0 10px rgba(0, 0, 0, 0.3);-moz-box-shadow:0 0 10px rgba(0, 0, 0, 0.3);-ms-box-shadow:0 0 10px rgba(0, 0, 0, 0.3);box-shadow:0 0 10px rgba(0, 0, 0, 0.3);}
.df-book-wrapper .df-book-side-buttons{position:absolute;left:100%;width:40px;opacity:0.3;height:100%;cursor:pointer;z-index:30;-webkit-border-radius:0 20px 20px 0;-moz-border-radius:0 20px 20px 0;border-radius:0 20px 20px 0;}
.df-book-prev-button.df-book-side-buttons{-webkit-border-radius:20px 0 0 20px;-moz-border-radius:20px 0 0 20px;border-radius:20px 0 0 20px;}
.df-book-wrapper .df-book-side-buttons:hover{opacity:0.5;background-color:rgba(0, 0, 0, 0.18);}
.df-book-wrapper .df-book-prev-button{right:100%;left:auto;left:initial;}
.df-book-wrapper .df-book-side-buttons:before{position:absolute;font-size:30px;position:absolute;-webkit-transform:translate(-50%, -50%);-moz-transform:translate(-50%, -50%);-ms-transform:translate(-50%, -50%);transform:translate(-50%, -50%);left:50%;top:50%;}
.df-book-wrapper .df-book-prev-button:before{}
.df-page-wrapper{overflow:hidden;}
.df-hard-page .df-page-wrapper{width:100% !important;height:100% !important;overflow:visible;transform-style:preserve-3d;-webkit-transform-origin:0% 50% 0px;}
.df-book-page.df-flipping, .df-book-page.df-folding{box-shadow:-2px 0px 10px rgba(0, 0, 0, 0.0);}
.df-book-page.df-left-side{left:0;-webkit-transform-origin:right;-moz-transform-origin:right;-ms-transform-origin:right;transform-origin:right;}
.df-book-page.df-right-side{left:50%;-webkit-transform-origin:left;-moz-transform-origin:left;-ms-transform-origin:left;transform-origin:left;}
.df-book-page.df-hard-page{}
.df-book-page.df-right-side + .df-page-wrapper.df-right-side{z-index:-1;}
.df-book-page .df-page-front, .df-book-page .df-page-back{width:100%;background-size:100.5% 100%;background-size:100% 100%;height:100%;background-color:white;position:absolute;box-sizing:border-box;}
.df-page-back > canvas, .df-page-front > canvas{width:100%;}
.df-page-wrapper:before{}
.df-quick-turn:before{opacity:0;}
.df-book-page.df-flipping.df-left-side:before{background-image:-webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));width:10px;left:-10px;}
.df-book-page.df-right-side:before{}
.df-book-page{width:50%;}
.df-book-page.df-flipping, .df-book-page.df-folding{z-index:200 !important;}
.df-page-content{background-size:100.25% !important;background-repeat:no-repeat !important;transition-property:transform;width:100%;}
.df-book-page.df-left-side .df-page-front{z-index:2;}
.df-book-page.df-left-side .df-page-back{z-index:1;}
.df-book-page.df-left-side.df-folding .df-page-back{z-index:3;}
.df-book-page.df-right-side .df-page-front{top:0;left:0;z-index:0;}
.df-book-page, .df-page-front, .df-page-back,
.df-page-fold-inner-shadow, .df-page-fold-outer-shadow, .df-page-wrapper{position:absolute;-webkit-transform-origin:0% 0% 0px;-moz-transform-origin:0% 0% 0px;-ms-transform-origin:0% 0% 0px;transform-origin:0% 0% 0px;}
.df-page-front, .df-page-back{overflow:visible;}
.df-page-fold-outer-shadow{z-index:-1;width:100%;height:100%;}
.df-page-fold-inner-shadow{position:absolute;z-index:5;display:none;}
.df-book-page.df-folding .df-page-fold-inner-shadow{display:block;}
.df-book-page.df-right-side .df-page-back{left:0;z-index:1;}
.df-book-page.df-right-side.df-folding .df-page-front{z-index:2;}
.df-page-wrapper.df-right-side .df-page-back{left:100%;z-index:1;overflow:hidden;}
.df-hard-page .df-page-front,
.df-hard-page .df-page-back{-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;-ms-backface-visibility:hidden;backface-visibility:hidden;}
.df-hard-page.df-right-side .df-page-front{-webkit-transform-origin:right 50%;-moz-transform-origin:right 50%;-ms-transform-origin:right 50%;transform-origin:right 50%;z-index:3 !important;transform-style:preserve-3d;}
.df-hard-page.df-left-side .df-page-front{-webkit-transform-origin:right 50%;-moz-transform-origin:right 50%;-ms-transform-origin:right 50%;transform-origin:right 50%;}
.df-hard-page.df-right-side .df-page-back{-webkit-transform-origin:left 50%;-moz-transform-origin:left 50%;-ms-transform-origin:left 50%;transform-origin:left 50%;z-index:3;transform-style:preserve-3d;}
.df-hard-page.df-left-side .df-page-back{-webkit-transform-origin:left 50%;-moz-transform-origin:left 50%;-ms-transform-origin:left 50%;transform-origin:left 50%;}
.df-page-front:before, .df-page-back:before{width:20%;z-index:5;}
.df-page-front:before{right:0;}
.df-page-wrapper.df-right-side.df-flipping{z-index:4;}
.df-ui{height:60px;padding:20px 16px 0;}
.df-ui-wrapper, .df-ui-btn{color:#888;vertical-align:top;background-color:#f7f7f7;box-sizing:border-box;text-align:center;}
.df-ui-wrapper{box-shadow:0px 1px 4px rgba(0, 0, 0, 0.3);background-color:#f7f7f7;position:absolute;}
.df-ui-btn{position:relative;width:35px;right:0;height:40px;font-size:17px;cursor:pointer;z-index:2;display:inline-block;padding:12px 5px;line-height:1;}
.df-ui-btn:before{box-sizing:border-box;}
.df-ui-fit, .df-ui-thumbnail{}
.df-ui-thumbnail, .df-ui-share, .df-ui-outline, .df-ui-help, .df-ui-sound{float:left;}
.df-ui-btn.disabled{opacity:0.4;}
.df-ui-zoomin, .df-ui-zoomout{}
.df-ui-btn:hover{color:#00ACCE;}
.df-ui-share:before{}
.df-ui-page{padding:8px 5px 2px;font-size:12px;width:auto;width:50px;margin:0 0px;border-radius:0;background-color:rgba(0, 0, 0, 0.03);}
.df-ui-page input{width:100%;background-color:transparent;height:25px;margin:0;border:1px solid rgb(143, 143, 143);color:inherit;text-align:center;vertical-align:top;color:transparent;font-size:14px;font-family:arial;top:0;box-sizing:border-box;z-index:-1;display:inline-block;opacity:0;}
.df-ui-page input:focus{z-index:2;opacity:1;color:inherit;}
.df-ui-page input:focus + label{opacity:0;display:none;}
.df-ui-page label{position:absolute;height:30px;width:100%;display:block;top:0px;padding-top:14px;font-family:'arial';color:#999;font-size:13px;left:0;cursor:pointer;background-color:transparent;z-index:1;box-sizing:border-box;}
.df-ui-share{float:left;}
.df-ui-share:before{}
.df-ui-fullscreen{bottom:0;}
.df-ui-fullscreen:before{}
.df-ui-zoom{top:24px;height:60px;right:24px;width:30px;display:none;-webkit-border-radius:3px;}
.df-ui-controls{bottom:0;width:100%;height:40px;padding:0;-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;z-index:4;display:block;}
.df-ui-wrapper.df-ui-controls .df-ui-btn{float:none;}
.df-ui-size{bottom:24px;height:60px;right:24px;}
.df-ui-zoom:before, .df-ui-size:before{height:0;border-bottom:1px solid;content:" ";right:5px;opacity:0.3;display:block;position:absolute;top:30px;left:5px;z-index:2;}
.df-ui-zoomin{top:0;}
.df-ui-zoomin:before{}
.df-ui-zoomout{bottom:0;}
.df-ui-btn.df-ui-zoomout{}
.df-zoom-enabled .df-ui-btn.df-ui-zoomout{}
.df-zoom-enabled .df-ui-btn.df-ui-zoomin{}
.df-ui-zoomout:before{}
.df-ui-next{right:24px;right:0;border-radius:0;}
.df-container > .df-ui-next, .df-container > .df-ui-prev{margin-top:-20px;-webkit-transform:translateY(-50%);-moz-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%);top:50%;position:absolute;box-shadow:0px 0px 5px rgba(0, 0, 0, 0.35);}
.df-ui-next:before{}
.df-ui-prev{left:0;right:auto;border-radius:0;}
.df-ui-prev:before{}
.df-ui-alt{position:relative !important;right:auto;right:initial;left:auto;left:initial;box-shadow:none !important;}
.df-ui-alt.df-ui-next,
.df-ui-alt.df-ui-prev{}
.df-ui-alt.df-ui-next{border-right:1px solid #ddd;}
.df-ui-start{}
.df-ui-start:before{}
.df-ui-end{}
.df-ui-end:before{}
.df-ui-thumbnail:before{}
.df-ui-outline:before{}
.df-ui-btn.df-active{color:#00ACCE;background-color:#e7e7e7;}
.df-ui-fit{display:none;}
.df-ui-zoomin, .df-ui-zoomout, .df-ui-fullscreen, .df-ui-more{float:right;}
.df-ui-fit{top:0;}
.df-ui-fit:before{}
.df-ui-fit.button-fit-active:before{}
.df-page-content div{}
.df-ui-more .more-container{display:none;position:absolute;bottom:100%;margin-bottom:8px;right:10px;background-color:#f7f7f7;z-index:20;border-radius:5px;box-shadow:0px -1px 3px rgba(0, 0, 0, 0.2);}
.more-container:before{content:" ";position:absolute;border:solid transparent;border-width:7px;border-top-color:#eee;height:0;width:0;bottom:-14px;right:13px;margin-right:-8px;pointer-events:none;}
.more-container .df-ui-btn{width:auto;width:initial;width:170px;text-align:left;padding:8px 10px;height:36px;border-top:1px solid #e4e4e4;border-radius:0;}
.more-container .df-ui-btn:hover{background-color:#eee;}
.more-container > .df-ui-btn:first-child{border-radius:5px;border-top:none;}
.more-container > .df-ui-btn:last-child{border-radius:0 0 5px 5px;}
.more-container .df-ui-btn:before{position:absolute;top:11px;font-size:14px;}
.more-container .df-ui-btn span{font-size:12px;padding-left:20px;vertical-align:middle;}
.df-ui-more.df-active .more-container{display:block;}
.customLinkAnnotation, .linkAnnotation{position:absolute;z-index:5;cursor:pointer;pointer-events:all;border:none !important;}
section.linkAnnotation a{display:block;height:100%;background-color:rgba(255, 255, 0, 0.1);}
section.linkAnnotation a:hover,
a.linkAnnotation:hover,
a.customLinkAnnotation:hover{background-color:rgba(255, 255, 0, 0.35);}
.annotationDiv{position:absolute;top:0;left:0;bottom:0;right:0;}
section.linkAnnotation a .annotationLayer >
a{display:block;position:absolute;display:block;height:100%;cursor:pointer;box-sizing:border-box;}
section.linkAnnotation a.internalLink:hover{}
.df-page-loading:before{background-image:url("../images/loading.gif");background-repeat:no-repeat;background-size:22px;content:"";height:22px;width:22px;position:absolute;top:50%;left:50%;margin:-11px -11px;}
.df-thumb-container .df-vrow{height:124px;left:0;width:90%;margin:10px auto;background-position:50%;cursor:pointer;background-repeat:no-repeat;right:0;}
.df-thumb-container .df-vrow:before{content:"";background-image:url("../images/loading.gif");background-size:22px;height:22px;width:22px;display:block;top:60px;margin:0 auto;position:relative;z-index:0;}
.df-thumb-container .df-vrow:hover{background-color:#bbb;}
.df-thumb-container .df-vrow.df-thumb-loaded{background-size:contain;opacity:1;}
.df-thumb-container .df-vrow.df-thumb-loaded:before{display:none;}
.df-vrow > div{height:20px;background-color:rgba(170, 170, 170, 0.54);width:40px;margin:0 auto;}
.df-thumb-container{left:-100%;float:left;width:220px;height:auto !important;position:absolute !important;top:0;z-index:3;bottom:40px;background-color:#ccc;box-shadow:1px 0px 4px rgba(102, 102, 102, 0.38);text-align:center;}
.df-outline-container{float:left;display:none;width:200px;text-align:left;height:auto !important;position:absolute !important;top:0;padding:20px 10px 5px;bottom:40px;box-shadow:1px 0px 4px rgba(102, 102, 102, 0.38);z-index:3;color:#666;overflow:auto;font-size:12px;background-color:#f7f7f7;box-sizing:content-box;}
.df-outline-container.df-outline-visible{display:block;}
.df-thumb-container.df-thumb-visible{left:0;}
.df-outline-toggle{cursor:pointer;float:left;width:18px;padding:5px 0;margin-left:-18px;text-align:center;}
.df-outline-toggle.df-outlines-hidden ~ .df-outline-items{display:none;}
.df-outline-items > .df-outline-item{margin-left:18px;}
.df-outline-item a:hover, .df-outline-toggle:hover{background-color:#e7e7e7;}
.df-outline-item a{color:inherit !important;text-decoration:none !important;display:block;padding:5px 0 5px 5px;overflow:hidden;text-overflow:ellipsis;border:none !important;box-shadow:none !important;}
.df-outline-toggle:before{content:"\f078";font-size:10px;font-family:FontAwesome;}
.df-outline-toggle.df-outlines-hidden:before{content:"\f054";}
.df-lightbox-wrapper{position:fixed !important;top:0;bottom:0;right:0;height:auto !important;left:0;background-color:white;z-index:1000;}
.df-lightbox-controls{float:right;padding:5px;z-index:1000;position:relative;}
.df-lightbox-close{float:right;height:40px;text-align:center;font-size:50px;cursor:pointer;color:#444;border-radius:50%;border-color:transparent;width:40px;background-color:transparent;transition:0.2s;}
.df-lightbox-close:hover{color:white;background-color:rgba(0, 0, 0, 0.21);border-color:black;}
.df-lightbox-close:before{top:50%;position:absolute;-webkit-transform:translate(-50%, -50%);-moz-transform:translate(-50%, -50%);-ms-transform:translate(-50%, -50%);transform:translate(-50%, -50%);left:50%;font-size:24px;}
.df-lightbox-wrapper .df-container{position:absolute !important;width:100%;top:0;bottom:0;height:auto !important;}
.df-container.df-xs .df-ui-controls .df-ui-btn.df-ui-next,
.df-container.df-xs .df-ui-controls .df-ui-btn.df-ui-prev{display:none;}
._df_button,._df_thumb{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;display:inline-block;position:relative;cursor:pointer;}
._df_button{padding:5px 15px;background-color:#444;background:#0085ba;color:white;font-size:14px;border-color:#0073aa #006799 #006799;cursor:pointer;border-width:1px;border-style:solid;-webkit-appearance:none;-webkit-border-radius:3px;border-radius:3px;white-space:nowrap;}
._df_thumb{border:none;width:140px;height:200px;text-align:center;}
._df_thumb{cursor:pointer;box-shadow:0px 1px 2px rgba(0, 0, 0, 0.22);display:inline-block;transform-style:preserve-3d;-moz-transform-style:preserve-3d;-webkit-transform-style:preserve-3d;box-sizing:border-box;-webkit-transition:0.2s;perspective:1200px;-moz-perspective:1200px;margin:30px 10px 10px;-webkit-perspective:800px;}
._df_books ._df_thumb, ._df_books .df-dummy{width:140px;height:200px;text-align:center;display:inline-block;position:relative;margin:20px 10px;vertical-align:top;}
._df_books .df-dummy{}
._df_book-cover{background-size:100% 100%;height:100%;width:100%;transform-origin:left;top:0;background-color:#eee;position:absolute;overflow:hidden;-webkit-transition:0.3s;-moz-transition:0.3s;-ms-transition:0.3s;box-shadow:0px 1px 2px rgba(0, 0, 0, 0.22);}
._df_thumb ._df_book-title{bottom:-100%;position:absolute;width:100%;left:0;padding:5px;font-size:12px;background:rgba(1, 163, 163, 0.87);background:rgba(146, 75, 117, 0.9);box-sizing:border-box;display:block;color:white;-webkit-transition:0.4s;opacity:0;}
._df_thumb ._df_book-tag{float:left;padding:0px 4px 20px;background-color:rgba(0, 0, 0, 0.26);text-transform:uppercase;font-size:10px;margin:-15px 0 0 2px;z-index:-1;color:rgba(255, 255, 255, 0.8);position:relative;}
._df_thumb:hover ._df_book-title,
._df_thumb-not-found ._df_book-title{opacity:1;bottom:0;}
._df_thumb:hover ._df_book-title i{}
._df_thumb:hover{}
._df_thumb:hover ._df_book-cover{-moz-transform:rotateY(-20deg);-webkit-transform:rotateY(-20deg);box-shadow:3px 0px 12px rgba(0, 0, 0, 0.60);}
._df_books{max-width:960px;margin:0 auto;text-align:center;position:relative;z-index:1;padding:20px 5px 150px;}
._df_books-break{color:rgba(255, 255, 255, 0.3);font-size:14px;letter-spacing:1px;font-weight:600;margin-top:25px;text-transform:uppercase;}
._df_books-break:after{content:" ";bottom:0px;width:50px;height:1px;background-color:rgba(255, 255, 255, 0.24);display:block;margin:10px auto;}
.df-page-wrapper{-webkit-transform:translateZ(0);}