#dflip{
    position:relative;
}

.dflip-tab{

}

#dflip-tabs {
    position:relative;
}

#dflip-tabs-list {
    border-bottom: 1px solid #ddd;
    margin: 15px 0;
    list-style: none;
}

#dflip-tabs-list li {
    display: inline-flex;
    margin: 0 0 -1px;
}

#dflip-tabs-list li.dflip-active {}

#dflip-tabs-list li a {
    display: block;
    padding: 5px 10px;
    text-decoration: none;
    outline: none;
    box-shadow: none;
    color: inherit;
    border: 1px solid #f7f7f7;
    border-bottom-color: transparent;
}

#dflip-tabs-list li.dflip-active a {
    border: 1px solid #ddd;
    border-radius: 3px 3px 0 0;
    border-bottom-color: #fff;
    color: #0073aa;
}

#dflip-tabs-list li a:hover {
    color: #0073aa;
}

div#dflip-tab-layout {}

.dflip-tabs {
    display: none;
}

.dflip-tabs.dflip-active {
    display: block;
}

.has-dragging {
    -webkit-user-select: none;
}

.dflip-box {
    padding: 0 10px 10px;
    clear: both;
}

.dflip-label {
    border-bottom: 1px dashed #ccc;
    margin: 0px 0 15px 0;
    padding: 5px 0px;
    display: block;
    font-weight: bold;
    /* font-style: italic; */
    font-size: 13px;
}

.dflip-desc {
    float: right;
    font-size: 13px;
    width: 40%;
    opacity: 0.8;
    font-style: italic;
    /* width: 100%; */
    /* float: none; */
    margin: 4px 0 10px;
}

.dflip-option {
    width: 60%;
    padding-right: 15px;
    box-sizing: border-box;
    position: relative;
}

.dflip-select select {
    /* height: 28px; */
}

.dflip-option > textarea {
    width: 100%;
}

.dflip-option.dflip-page-list {
    width: 100%;
    padding: 0;
}

.dflip-page-modal {
    position: fixed;
    top: 20px;
}

ul.dflip-page-list {
    clear: both;
}

.dflip-page-list-add {
}

#dflip_pages_box .dflip-desc, #dflip_outline_box .dflip-desc {
    width: 100%;
    float: none;
    /* position: absolute; */
}

#dflip_outline_box .dflip-option {
    width: 100%;
    padding: 0;
    font-size: 14px;
}
#dflip_outline_box .dflip-option textarea{
    font-size:13px;
    display: none;
}
#dflip .ui-sortable-handle {
    min-height: 20px;
    cursor: move;
}

.dflip-upload-input {
    height: 29px;
}

.dflip-upload-input + .dflip-button {
    position: absolute;
    /* width: 80px; */
    /* height: 28px; */
    top: 0;
    right: 15px;
    text-align: center;
}

.dflip-upload {
    padding-right: 90px;
}


.dflip-page-options{display: none;}

.dflip-page-actions {
    position: absolute;
    top: -50%;
    transition: 0.2s;
    width: 120px;
    cursor: default;
    background-color: #fff;
}

ul.dflip-outline-actions {
    position: absolute;
    right: 3px;
    top: 3px;
    display: none;
    margin: 0;
    border-radius: 5px;
    transition: 0.2s;
    cursor: default;
    background-color: #fff;
}

.dflip-page-actions > li,
.dflip-outline-actions > li {
    height: 28px;
    min-width: 28px;
    color: #777;
    float: left;
    background-color: inherit;
    margin: 0;
    cursor: pointer;
}

.dflip-page-actions > li:hover,
.dflip-outline-actions > li:hover {
    background-color: #eee;
}

.dflip-page-actions > li:before,
.dflip-outline-actions > li:before {
    line-height: 1.5;
}

.dflip-page-image-action {}
.dflip-page-edit-action {}
li.dflip-page-remove-action {
    float: right;
    /* background-color: #FF5722; */
    color: #F44336;
    /* padding: 7px 0; */
}

.dflip-page-options label:nth-child(1), .dflip-page-options input:nth-child(2) {
    /* margin-left: 80px; */
    /* width: 200px; */
}
.dflip-page-options label{
    display:block;
    padding: 0px 0 5px;
    margin-top: 10px;
}
.dflip-page-options textarea{
    width:100%;
}

.dflip-page-item{
    border: 1px solid #ddd;
    width: 120px;
    height: 160px;
    background-color: #ddd;
    overflow: hidden;
    cursor: move;
    position: relative;
    margin: 0 10px 10px 0;
    display: inline-block;
}

.dflip-page-edit {
    width: 100%;
    height: auto;
}

.dflip-page-edit .dflip-page-thumb {
    width: 120px;
    left: 0;
    margin: 0;
}

.dflip-page-edit .dflip-page-options {
    display: block;
    padding-left: 130px;
    padding-right: 10px;
    background-color: white;
}

li.dflip-page-item:hover .dflip-page-actions {
    top: 0;
}
.outline-wrapper:hover >.dflip-outline-actions {
    /* right: 2px; */
    display: block;
}

.dflip-empty-page {
    display: none;
}

.dflip-handle{
    cursor: move;
    z-index: 1;
    height: 100%;
    position: relative;
    background-color: #f7f7f7;
}

.dflip-page-thumb {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 0;
}
img.dflip-page-thumb{
    
}

.outline-node{position: relative;/* border-top: 1px solid #eee; */overflow: hidden;cursor: pointer;/* margin-left: 20px; */padding: 2px 0 0;}

#dflip_outline_box:focus {
    background-color: green;
}

.outline-node.outline-haschild.outline-collapsed .outline-wrapper {
    background-color: #eee;
}

.outline-node:last-child:after {
    display: none;
}

.outline-node:before,.outline-node:after {
    position: absolute;
    content: "";
}

.outline-node:before {
    top: 0px;
    left: 5px;
    margin-top: 0px;
    height: 20px;
    width: 14px;
    border: 0;
    z-index: 0;
    /* border-radius: 0 0 0 4px; */
    border-bottom: 1px solid;
    border-left: 1px solid;
    border-color: #bbb;
}
.outline-node:after {
    top: 20px;
    left: 5px;
    margin-top: 0px;
    height: 100%;
    width: 30px;
    border: 0;
    border-left: 1px solid;
    border-color: #bbb;
}

.outline-node .outline-wrapper >input {
    display: none;
    height: 22px;
    font-size: 13px;
    border: 1px solid #ddd;
}

.outline-node.outline-active > .outline-wrapper >input {
    display: inline-flex;
}

.outline-node.outline-active > .outline-wrapper >label {
    display: none;
}
.outline-node >input{
    box-shadow: none;
    border: 1px solid #bbb;
}
.outline-nodes{padding-left: 20px;position: relative;border-left: 1px solid #fff;}


.outline-nodes .outline-node {}

.outline-node .outline-wrapper {
    height: 34px;
    border: 1px solid #bbb;
    border-radius: 5px;
    padding: 4px;
    z-index: 2;
    position: relative;
    box-sizing: border-box;
    margin-left: 20px;
    padding-left: 10px;
    background-color: #fff;
}

.outline-wrapper.has-drag-over {
    border: 3px solid green;
}
.outline-wrapper.has-drag-after {
    border-bottom: 6px solid green;
}
.outline-wrapper.has-drag-before {
    border-top: 6px solid green;
}
.has-drag-over.is-drag-source, .is-drag-source ~ .outline-nodes .has-drag-over
{
    border-color:red !important;
}
.is-drag-source,
.is-drag-source ~ .outline-nodes .outline-wrapper{opacity:0.2;}
.outline-collapse {
    position: absolute;
    left: 10px;
    font-size: 14px;
    z-index: 3;
    display: none;
    top: 8px;
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid #bbb;
}

.outline-collapse:before {
    line-height: 1.5;
}

.outline-wrapper label {
    /* min-height: 30px; */
    display: inline-block;
    min-width: 30px;
    padding: 2px 5px;
}

.outline-wrapper input:nth-child(3) {
    /* width: 50px; */
    flex-grow: 2;
}
.outline-haschild > .outline-collapse{
    display: block;
    transition: 0.2s;
    transform-origin: center;
}

.outline-collapsed .outline-collapse {
    transform: rotateZ(-90deg);
}

.outline-collapsed .outline-nodes {
    display: none;
}
.drag-helper{
    background-color:#aaa;
    /* width:50px; */
    position:absolute;
    z-index: 200;
    /* height: 50px; */
    padding: 10px;
    color: white;
    pointer-events: none;
}
.dflip-page-modal{

}
.dflip-page-modal .page-modal-close{
    border-left: 1px solid #ddd;
    cursor: pointer;
    text-align: center;
}

.dflip-page-modal .page-modal-close .media-modal-icon {
    margin-top: 15px;
    display: block;
}

.page-modal-image-wrapper {
    max-width: 100%;
    /* max-height: 100%; */
    position: absolute;
    margin-top: 40px;
    /* overflow: hidden; */
    /* padding-right: 300px; */
    -webkit-user-select: none;
}

.dflip-page-modal .media-frame-content {
    /* overflow: hidden; */
    /* position: relative; */
    background-color: #eee;
}

img.page-modal-image {
    max-width: 100%;
    max-height: 100%;
    margin: 0;
    border: 0;
    display: block;
}

.page-hotspot-container {}

.dflip-hotspot {
    position: absolute;
    cursor: pointer;
    border: 1px solid #ccc;
    box-sizing: border-box !important;
}

.dflip-hotspot-helper {
    position: absolute !important;
    z-index: 20;
    cursor: move;
    /* border: 2px solid black; */
    box-sizing: border-box !important;
}

.dflip-hotspot:hover,.dflip-hotspot-helper {
    background-color: rgba(255, 255, 0, 0.22);
}

.dflip-hotspot {
    background-color: rgba(255, 255, 0, 0.22);
}

.dflip-hotspot-helper .ui-resizable-handle {
    background: #f5dc58;
    border: 1px solid #FFF;
    width: 9px;
    height: 9px;
    box-sizing: border-box !important;
    z-index: 2;
    position: absolute;
}

.dflip-hotspot-helper .ui-resizable-nw { cursor: nw-resize; width: 9px; height: 9px; left: -5px; top: -5px; }
.dflip-hotspot-helper .ui-resizable-ne { cursor: ne-resize; width: 9px; height: 9px; right: -5px; top: -5px;}
.dflip-hotspot-helper .ui-resizable-sw {cursor: sw-resize;width: 9px;height: 9px;left: -5px;bottom: -5px;}
.dflip-hotspot-helper .ui-resizable-se {cursor: se-resize;width: 9px;height: 9px;right: -5px;bottom: -5px;}

.dflip-add-hotspot {
    margin: 5px !important;
    /* top: 10px; */
    /* width: 36px; */
    z-index: 50;
    /* position: fixed; */
}

.dflip-hotspot-header {
    position: fixed;
    /* width: 100%; */
    background-color: #eee;
    z-index: 100;
}
.dflip-remove-hotspot {
    float:right;
    margin: 5px !important;
}

.dflip-hotspot-dest {
    height: 30px;
    vertical-align: middle;
    width: 240px;
    font-size: 12px;
    margin: 5px !important;
}

.df-js-code{
	font-family: monospace;
	font-size: 12px;
}


input#dflip_settings_submit {
	float: right;
	margin-right: 10px;
	z-index: 100;
	margin-top: -40px;
}