.woocommerce .buttton button,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button,
.woocommerce #respond input#submit{padding:6px 10px;border-radius:20px;color:#ffffff;background:#2f2b35;font-family:"Montserrat", sans-serif;font-size:12px;font-weight:normal;line-height:15px;letter-spacing:2px;}
.woocommerce .buttton button:hover,
.woocommerce a.button:hover,
.woocommerce button.button:hover,
.woocommerce input.button:hover,
.woocommerce #respond input#submit:hover{color:#ffffff;background:#5a5462;}
.woocommerce .buttton button.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt,
.woocommerce #respond input#submit.alt{border:1px solid #dddddd;border-radius:20px;color:#2f2b35;background:none;text-transform:uppercase;}
.woocommerce .buttton button.alt:hover,
.woocommerce a.button.alt:hover,
.woocommerce button.button.alt:hover,
.woocommerce input.button.alt:hover,
.woocommerce #respond input#submit.alt:hover{color:#ffffff;background:#2f2b35;}
.woocommerce span.onsale{min-height:20px;padding:2px 10px;border-radius:4px;color:#ffffff;background:#2f2b35;font-family:"Montserrat", sans-serif;line-height:20px;text-transform:uppercase;}
.woocommerce div.product .onsale{top:80px;left:20px;}
.woocommerce ul.products li.product .onsale,
.woocommerce-page ul.products li.product .onsale{top:30px;right:auto;left:50%;-webkit-transform:translateX(-50%);-ms-transform:translateX(-50%);transform:translateX(-50%);}
.woocommerce ul.products li.product .price del{display:inline-block;}
.woocommerce-product-rating .star-rating{color:#2f2b35;}
.woocommerce-product-rating .star-rating:before{color:#2f2b35;}
.woocommerce form .form-row{padding:3px 0;}
.woocommerce form .form-row label{font-weight:normal;}
.woocommerce form .form-row input.input-text,
.woocommerce form .form-row textarea{padding:7px 10px;border:1px solid #dddddd;border:none;border-radius:3px;background:#edf3f4;font-size:12px;line-height:12px;}
.woocommerce form .form-row textarea{height:75px;}
.woocommerce form .form-row .select2-container .select2-choice{border:none;background:#edf3f4;font-family:"PT Serif", serif;font-size:12px;line-height:32px;}
.woocommerce form .form-row .inline{height:36px;margin-left:20px;line-height:36px;}
.woocommerce form .form-row .inline input{margin:0;padding:0;vertical-align:middle;}
.woocommerce table.shop_table{width:100%;border:none;}
.woocommerce table.shop_table .quantity input{min-width:60px;padding:6px 0 6px 12px;border:1px solid #dddddd;border-radius:3px;text-align:center;}
.woocommerce table.shop_table thead{color:#ffffff;background:#2f2b35;font-size:14px;}
.woocommerce table.shop_table thead tr th{padding:10px;}
.woocommerce table.shop_table tbody{width:100%;}
.woocommerce table.shop_table tr td{padding:10px;}
.woocommerce table.shop_table tr td a{font-size:14px;}
.woocommerce td.product-name dl.variation dt,
.woocommerce td.product-name dl.variation dd{margin:0 5px 0 0;line-height:20px;}
.woocommerce td.product-name dl.variation dt p,
.woocommerce td.product-name dl.variation dd p{line-height:inherit;}
.woocommerce .shipping #shipping_method li input{display:inline-block;height:14px;margin:0;}
.woocommerce .shipping #shipping_method li label{display:inline;}
.woocommerce .product-type-variable .product_type_variable:before{display:inline-block;font-family:"Simple-Line-Icons";content:"\e04d";}
.woocommerce .add_to_cart_button:before{display:inline-block;color:#acb3b4;font-family:"Simple-Line-Icons";content:"\e04f";}
.woocommerce .add_to_cart_button.loading:before{content:"\f110";-webkit-animation:spinbro 2s infinite;animation:spinbro 2s infinite;}
.woocommerce .add_to_cart_button.added:before{content:"\f00c";}
@-webkit-keyframes spinbro{0%{-webkit-transform:rotate(0deg);}
100%{-webkit-transform:rotate(360deg);}
}
@keyframes spinbro{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg);}
100%{-webkit-transform:rotate(360deg);transform:rotate(360deg);}
}
.woocommerce-product-search{position:relative;}
.woocommerce-product-search .search-field{display:block;width:100%;height:34px;padding:6px 12px;border:1px solid #cccccc;border-radius:4px;color:#555555;background-color:#ffffff;background-image:none;box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);font-size:14px;line-height:1.42857143;-webkit-transition:border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;transition:border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;}
.woocommerce-product-search .search-field:focus{border-color:#66afe9;outline:0;box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);}
.woocommerce-product-search .search-field::-moz-placeholder{opacity:1;color:#999999;}
.woocommerce-product-search .search-field:-ms-input-placeholder{color:#999999;}
.woocommerce-product-search .search-field::-webkit-input-placeholder{color:#999999;}
.woocommerce-product-search input[type="submit"]{display:none;}
.books-search{padding-top:35px;background:white;}
.books-search .form-control{position:relative;border:none;border-radius:4px;background:#edf3f4;box-shadow:none;font-size:12px;line-height:20px;}
.books-search select.form-control{-webkit-appearance:none;-moz-appearance:none;appearance:none;}
.books-search .select-arrow{position:absolute;top:0;right:25px;color:#28cdf0;line-height:34px;}
.books-search .btn{border-color:#2f2b35;color:#ffffff;background:#2f2b35;font-size:12px;line-height:20px;letter-spacing:2px;text-transform:uppercase;}
.books-search .btn:hover{border-color:#5a5462;color:#ffffff;background:#5a5462;}
.main-content-shop .main-content-inner{position:relative;}
.main-content-shop .page-title{margin:0 0 50px;color:#28cdf0;font-size:35px;line-height:40px;text-align:center;text-transform:uppercase;}
.main-content-shop .term-description{margin:-50px 0 50px;text-align:center;}
.woocommerce,
.woocommerce-page{}
.woocommerce .result_order_wrap,
.woocommerce-page .result_order_wrap{overflow:hidden;margin-bottom:20px;padding:0 0 20px 0;line-height:0;}
.woocommerce .woocommerce-result-count,
.woocommerce-page .woocommerce-result-count{margin:0;color:#2f2b35;font-size:18px;font-weight:normal;line-height:30px;}
@media (max-width:460px){.woocommerce .woocommerce-result-count,
.woocommerce-page .woocommerce-result-count{float:none;text-align:center;}
}
.woocommerce .woocommerce-ordering,
.woocommerce-page .woocommerce-ordering{margin:0 10px 0 0;line-height:4px;}
.woocommerce .woocommerce-ordering .div.icon-lbl,
.woocommerce-page .woocommerce-ordering .div.icon-lbl{top:-15px;line-height:41px;}
.woocommerce .woocommerce-ordering select,
.woocommerce-page .woocommerce-ordering select{height:30px;padding:10px;border:1px solid #a7a7a7;border-radius:4px;background:#edf3f4;line-height:20px;}
.woocommerce.archive h2.title,
.woocommerce-page.archive h2.title{display:inline-block;position:relative;margin-top:0;font-size:26px;}
.woocommerce ul.products,
.woocommerce-page ul.products{margin:0 -10px;padding-left:0;}
@media (max-width:768px){.woocommerce ul.products,
.woocommerce-page ul.products{margin:0;}
}
.woocommerce ul.products li.product,
.woocommerce-page ul.products li.product{position:relative;width:25%;margin:0 0 20px;padding:0 10px;list-style:none;}
@media (max-width:991px){.woocommerce ul.products li.product,
.woocommerce-page ul.products li.product{width:50%;}
}
@media (max-width:480px){.woocommerce ul.products li.product,
.woocommerce-page ul.products li.product{width:100% !important;}
}
.woocommerce ul.products li.product .product-inner,
.woocommerce-page ul.products li.product .product-inner{border-radius:8px;background:#ffffff;}
.woocommerce ul.products li.product .product-inner figure,
.woocommerce-page ul.products li.product .product-inner figure{padding:10px 10px 0 10px;border-top-left-radius:8px;border-top-right-radius:8px;text-align:center;}
.woocommerce ul.products li.product .product-image-box,
.woocommerce-page ul.products li.product .product-image-box{overflow:hidden;position:relative;}
.woocommerce ul.products li.product .product-image-box img,
.woocommerce-page ul.products li.product .product-image-box img{margin:0;}
.woocommerce ul.products li.product .woo-button-wrapper,
.woocommerce-page ul.products li.product .woo-button-wrapper{display:block;padding:0 20px 20px;border-bottom-right-radius:6px;border-bottom-left-radius:6px;}
.woocommerce ul.products li.product .woo-button-wrapper .added_to_cart,
.woocommerce-page ul.products li.product .woo-button-wrapper .added_to_cart{display:none;}
.woocommerce ul.products li.product .woo-button-wrapper a.button,
.woocommerce-page ul.products li.product .woo-button-wrapper a.button{display:inline-block;width:50%;margin:0;padding:0;border-right:1px solid #bfc7c8;border-radius:0;color:#3c3d41;background:none;font-size:10px;line-height:30px;text-align:left;text-align:center;letter-spacing:normal;text-transform:uppercase;}
@media (max-width:1199px) and (min-width:992px){.woocommerce ul.products li.product .woo-button-wrapper a.button,
.woocommerce-page ul.products li.product .woo-button-wrapper a.button{width:100%;border:none;border-bottom:1px solid #cccccc;}
}
.woocommerce ul.products li.product .woo-button-wrapper a.button:last-child,
.woocommerce-page ul.products li.product .woo-button-wrapper a.button:last-child{border:none;}
.woocommerce ul.products li.product .woo-button-wrapper a.button.product-button:before,
.woocommerce-page ul.products li.product .woo-button-wrapper a.button.product-button:before{display:inline-block;color:#acb3b4;font-family:"Simple-Line-Icons";content:"\e094";}
.woocommerce ul.products li.product .woo-button-wrapper a.button:before,
.woocommerce-page ul.products li.product .woo-button-wrapper a.button:before{margin-right:5px;font-size:16px;vertical-align:bottom;}
.woocommerce ul.products li.product .woo-button-wrapper a.button.loading,
.woocommerce-page ul.products li.product .woo-button-wrapper a.button.loading{border:none;}
.woocommerce ul.products li.product .woo-button-wrapper a.button.loading:after,
.woocommerce-page ul.products li.product .woo-button-wrapper a.button.loading:after{top:0;left:-20px;font-size:12px;}
.woocommerce ul.products li.product .woo-button-wrapper a.button.added,
.woocommerce-page ul.products li.product .woo-button-wrapper a.button.added{border:none;}
.woocommerce ul.products li.product .woo-button-wrapper a.button.added:after,
.woocommerce-page ul.products li.product .woo-button-wrapper a.button.added:after{position:relative;top:0;right:0;font-size:12px;}
.woocommerce ul.products li.product .woo-button-wrapper a.button.added:before,
.woocommerce-page ul.products li.product .woo-button-wrapper a.button.added:before{display:none;}
.woocommerce ul.products li.product .woo-button-wrapper .woo-button-border,
.woocommerce-page ul.products li.product .woo-button-wrapper .woo-button-border{border:1px solid #bfc7c8;border-radius:20px;text-align:center;}
.woocommerce ul.products li.product h3,
.woocommerce-page ul.products li.product h3{overflow:hidden;margin-bottom:5px;padding:0;color:#222222;font-size:15px;line-height:normal;white-space:nowrap;text-overflow:ellipsis;}
.woocommerce ul.products li.product h3:hover,
.woocommerce-page ul.products li.product h3:hover{color:#a7a7a7;}
.woocommerce ul.products li.product .person-name,
.woocommerce-page ul.products li.product .person-name{display:block;position:relative;color:#a7a7a7;font-size:12px;font-style:italic;line-height:normal;text-transform:capitalize;}
.woocommerce ul.products li.product .product-price-box,
.woocommerce-page ul.products li.product .product-price-box{position:relative;padding:20px 30px 10px;text-align:center;-webkit-transition:background 1s;transition:background 1s;}
.woocommerce ul.products li.product .product-price-box .star-rating,
.woocommerce-page ul.products li.product .product-price-box .star-rating{visibility:hidden;position:absolute;top:-40px;left:calc(50% - 32px);margin:0;color:#ffffff;}
.woocommerce ul.products li.product .product-price-box .price,
.woocommerce-page ul.products li.product .product-price-box .price{position:relative;margin:0;padding:10px 0 0;color:#222222;font-family:"Montserrat", sans-serif;font-size:20px;}
.woocommerce ul.products li.product .product-price-box .price sup,
.woocommerce-page ul.products li.product .product-price-box .price sup{font-size:12px;text-transform:uppercase;}
.woocommerce ul.products li.product .product-price-box .price del,
.woocommerce-page ul.products li.product .product-price-box .price del{font-size:14px;line-height:normal;}
.woocommerce ul.products li.product .product-price-box .price ins,
.woocommerce-page ul.products li.product .product-price-box .price ins{font-weight:normal;}
.woocommerce ul.product-category li .product-inner,
.woocommerce-page ul.product-category li .product-inner{position:relative;}
.woocommerce ul.product-category li .product-inner .product-cat-top h3,
.woocommerce-page ul.product-category li .product-inner .product-cat-top h3{position:absolute;top:20px;left:20px;padding:2px 5px;border-radius:5px;color:#ffffff;background:#28cdf0;font-size:12px;text-transform:uppercase;}
.woocommerce ul.product-category li .product-inner .product-cat-top h3 .count,
.woocommerce-page ul.product-category li .product-inner .product-cat-top h3 .count{color:#ffffff;background:#28cdf0;}
.woocommerce ul.product-category li .product-inner .product-cat-top img,
.woocommerce-page ul.product-category li .product-inner .product-cat-top img{margin-bottom:0;}
.woocommerce ul.product-category li .product-inner .product-cat-top a img,
.woocommerce-page ul.product-category li .product-inner .product-cat-top a img{margin-bottom:0;border-radius:8px 8px 0 0;}
.woocommerce ul.product-category li .product-inner .product-cat-bottom,
.woocommerce-page ul.product-category li .product-inner .product-cat-bottom{position:relative;padding:20px 10px;}
.woocommerce ul.product-category li .product-inner .product-cat-bottom .product-cat-description,
.woocommerce-page ul.product-category li .product-inner .product-cat-bottom .product-cat-description{display:inline-block;overflow:hidden;margin:0;color:#2f2b35;font-family:"Montserrat", sans-serif;font-size:14px;vertical-align:middle;white-space:nowrap;text-overflow:ellipsis;}
@media (min-width:768px){.woocommerce ul.product-category li .product-inner .product-cat-bottom .product-cat-description,
.woocommerce-page ul.product-category li .product-inner .product-cat-bottom .product-cat-description{max-width:70%;}
}
.woocommerce ul.product-category li .product-inner .product-cat-bottom a,
.woocommerce-page ul.product-category li .product-inner .product-cat-bottom a{display:inline-block;margin:0;padding:6px 20px;font-size:10px;}
@media (min-width:768px){.woocommerce ul.product-category li .product-inner .product-cat-bottom a,
.woocommerce-page ul.product-category li .product-inner .product-cat-bottom a{position:absolute;right:10px;}
}
.woocommerce.columns-5 ul.products li.product,
.woocommerce-page.columns-5 ul.products li.product{width:20%;}
.woocommerce.columns-5 ul.products li.product .product-price-box .price,
.woocommerce-page.columns-5 ul.products li.product .product-price-box .price{max-width:100px;font-size:18px;}
@media (max-width:992px){.woocommerce.columns-5 ul.products li.product,
.woocommerce-page.columns-5 ul.products li.product{width:50%;}
}
@media (max-width:460px){.woocommerce.columns-5 ul.products li.product,
.woocommerce-page.columns-5 ul.products li.product{width:100%;}
}
.woocommerce.columns-4 ul.products li.product .product-inner .product-cat-bottom p,
.woocommerce-page.columns-4 ul.products li.product .product-inner .product-cat-bottom p{max-width:60%;}
.woocommerce.columns-3 ul.products li.product,
.woocommerce-page.columns-3 ul.products li.product{width:33.3%;}
@media (max-width:768px){.woocommerce.columns-3 ul.products li.product,
.woocommerce-page.columns-3 ul.products li.product{width:50%;}
}
@media (max-width:460px){.woocommerce.columns-3 ul.products li.product,
.woocommerce-page.columns-3 ul.products li.product{width:100%;}
}
.woocommerce.columns-2 ul.products li.product,
.woocommerce-page.columns-2 ul.products li.product{width:50%;}
@media (max-width:768px){.woocommerce.columns-2 ul.products li.product,
.woocommerce-page.columns-2 ul.products li.product{width:50%;}
}
@media (max-width:460px){.woocommerce.columns-2 ul.products li.product,
.woocommerce-page.columns-2 ul.products li.product{width:100%;}
}
.woocommerce.columns-1 ul.products li.product,
.woocommerce-page.columns-1 ul.products li.product{width:100%;}
@media (max-width:768px){.woocommerce.columns-1 ul.products li.product,
.woocommerce-page.columns-1 ul.products li.product{width:50%;}
}
@media (max-width:460px){.woocommerce.columns-1 ul.products li.product,
.woocommerce-page.columns-1 ul.products li.product{width:100%;}
}
.woocommerce div.product div.images,
.woocommerce #content div.product div.images,
.woocommerce-page div.product div.images,
.woocommerce-page #content div.product div.images{float:left;width:40%;padding:3em;}
@media (max-width:680px){.woocommerce div.product div.images,
.woocommerce #content div.product div.images,
.woocommerce-page div.product div.images,
.woocommerce-page #content div.product div.images{float:none;width:100%;}
}
.woocommerce div.product div.summary,
.woocommerce #content div.product div.summary,
.woocommerce-page div.product div.summary,
.woocommerce-page #content div.product div.summary{float:right;width:56%;}
@media (max-width:680px){.woocommerce div.product div.summary,
.woocommerce #content div.product div.summary,
.woocommerce-page div.product div.summary,
.woocommerce-page #content div.product div.summary{float:none;width:100%;}
}
.woocommerce #content div.product div.images div.thumbnails{overflow:hidden;position:relative;margin:20px 0 0;}
.woocommerce #content div.product div.images div.thumbnails.columns-4 a{width:25%;margin:0;border:1px solid #ffffff;}
.woocommerce #content div.product div.images div.thumbnails.columns-4 .owl-item a{width:100%;}
.woocommerce #content div.product div.images div.thumbnails .owl-controls .owl-nav > div i{position:absolute;top:50%;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%);}
.woocommerce #content div.product div.images div.thumbnails .owl-controls .owl-nav .owl-prev{position:absolute;top:0;left:-20%;height:100%;padding:0 20px;color:#ffffff;background:rgba(0, 0, 0, 0.5);font-size:20px;line-height:100px;-webkit-transition:left 0.5s;transition:left 0.5s;}
.woocommerce #content div.product div.images div.thumbnails .owl-controls .owl-nav .owl-next{position:absolute;top:0;right:-20%;height:100%;padding:0 20px;color:#ffffff;background:rgba(0, 0, 0, 0.5);font-size:20px;line-height:100px;-webkit-transition:right 0.5s;transition:right 0.5s;}
.woocommerce #content div.product div.images div.thumbnails:hover .owl-controls .owl-nav .owl-prev{left:0;}
.woocommerce #content div.product div.images div.thumbnails:hover .owl-controls .owl-nav .owl-next{right:0;}
.woocommerce div.product{padding:50px 0 30px;}
.woocommerce div.product:before,
.woocommerce div.product:after{display:table;content:" ";}
.woocommerce div.product:after{clear:both;}
.woocommerce div.product div.images{margin-bottom:50px;}
.woocommerce div.product div.images div.thumbnails{padding:0;}
.woocommerce div.product .product_title{padding-top:20px;font-size:36px;font-weight:300;line-height:40px;}
.woocommerce div.product p.price,
.woocommerce div.product span.price{display:block;margin-bottom:25px;color:#222222;font-size:25px;line-height:30px;}
.woocommerce div.product p.price del,
.woocommerce div.product span.price del{display:inline-block;color:#757575;}
.woocommerce div.product p.price del .amount,
.woocommerce div.product span.price del .amount{font-size:18px;}
.woocommerce div.product p.price ins,
.woocommerce div.product span.price ins{display:inline-block;font-weight:normal;}
.woocommerce div.product .stock{margin:0;line-height:30px;}
.woocommerce div.product .summary .product-offer-box{display:block;clear:both;margin-bottom:30px;padding:20px 20px 0;border:1px solid #e5e5e5;border-radius:6px;}
@media (min-width:1200px){.woocommerce div.product .summary .product-offer-box{width:60%;}
}
.woocommerce div.product .summary p.price{display:block;margin:-20px -20px 15px -20px;padding:10px 20px;background:#edf3f4;}
.woocommerce div.product .summary .stock{margin:0 0 15px;color:#2f2b35;text-align:left;}
.woocommerce div.product form.cart{clear:both;overflow:hidden;margin-bottom:0;padding:0;border:none;}
.woocommerce div.product form.cart div.quantity{margin:0 10px 0 0;}
@media (max-width:480px){.woocommerce div.product form.cart div.quantity{float:none;margin:0;}
.woocommerce div.product form.cart div.quantity input{width:100%;margin-bottom:10px;}
}
.woocommerce div.product form.cart div.quantity input{min-width:60px;padding:7px 0 7px 12px;border:1px solid #dddddd;border-radius:3px;text-align:center;}
.woocommerce div.product form.cart button.single_add_to_cart_button{margin-bottom:30px;padding:12px 30px;border:#2f2b35;color:#ffffff;background:#2f2b35;font-family:"Montserrat", sans-serif;font-size:16px;line-height:16px;}
.woocommerce div.product form.cart button.single_add_to_cart_button:hover{border-color:#5a5462;color:#ffffff;background:#5a5462;}
@media (max-width:480px){.woocommerce div.product form.cart button.single_add_to_cart_button{float:none;width:100%;}
}
.woocommerce div.product form.cart table.variations{width:100%;margin:0;padding:0;}
.woocommerce div.product form.cart table.variations tbody{margin:0;padding:0;}
.woocommerce div.product form.cart table.variations tbody tr td.label{width:40%;}
.woocommerce div.product form.cart table.variations tbody tr td.label label{margin:0;color:#757575;font-size:14px;line-height:32px;text-transform:capitalize;}
.woocommerce div.product form.cart table.variations tbody tr td.value{width:60%;}
@media (max-width:480px){.woocommerce div.product form.cart table.variations tbody tr td.value{width:100%;}
}
.woocommerce div.product form.cart table.variations tbody tr td.value select{width:100%;}
.woocommerce div.product form.cart table.variations tbody tr td.value a.reset_variations{font-size:13px;}
.woocommerce div.product form.cart .single_variation{padding:10px 0 25px;}
.woocommerce div.product form.cart .single_variation:before,
.woocommerce div.product form.cart .single_variation:after{display:table;content:" ";}
.woocommerce div.product form.cart .single_variation:after{clear:both;}
.woocommerce div.product form.cart .single_variation .price{float:left;margin:0;}
.woocommerce div.product form.cart .single_variation .price .amount{font-size:30px;}
.woocommerce div.product form.cart .single_variation .stock{float:right;margin:0;border:none;}
.woocommerce div.product form.cart .variations_button{clear:both;margin-bottom:0;}
.woocommerce div.product form.cart .variations_button:before,
.woocommerce div.product form.cart .variations_button:after{display:table;content:" ";}
.woocommerce div.product form.cart .variations_button:after{clear:both;}
.woocommerce div.product .product_meta{font-family:"PT Serif", serif;}
.woocommerce div.product .product_meta .sku_wrapper,
.woocommerce div.product .product_meta .tagged_as,
.woocommerce div.product .product_meta .posted_in{display:block;}
.woocommerce div.product .product_meta .sku_wrapper a,
.woocommerce div.product .product_meta .tagged_as a,
.woocommerce div.product .product_meta .posted_in a{color:#222222;font-weight:normal;text-transform:capitalize;}
.woocommerce.single-product div.product .woocommerce-tabs{clear:both;margin:30px 0 0;}
.woocommerce.single-product div.product .woocommerce-tabs ul.tabs{padding:0;border-top:1px dashed #e5e5e5;}
.woocommerce.single-product div.product .woocommerce-tabs ul.tabs:before{border-bottom:1px dashed #e5e5e5;}
.woocommerce.single-product div.product .woocommerce-tabs ul.tabs li,
.woocommerce.single-product div.product .woocommerce-tabs ul.tabs .description_tab{margin-right:10px;padding:5px;border:none !important;background:none !important;}
.woocommerce.single-product div.product .woocommerce-tabs ul.tabs li:after,
.woocommerce.single-product div.product .woocommerce-tabs ul.tabs li:before,
.woocommerce.single-product div.product .woocommerce-tabs ul.tabs .description_tab:after,
.woocommerce.single-product div.product .woocommerce-tabs ul.tabs .description_tab:before{display:none;}
.woocommerce.single-product div.product .woocommerce-tabs ul.tabs li a,
.woocommerce.single-product div.product .woocommerce-tabs ul.tabs .description_tab a{display:inline-block;padding:1em 0;color:#757575;text-shadow:0 1px 0 rgba(255, 255, 255, 0.8);font-size:24px;font-weight:normal !important;text-decoration:none;letter-spacing:1px;text-transform:capitalize;}
.woocommerce.single-product div.product .woocommerce-tabs ul.tabs li a:hover,
.woocommerce.single-product div.product .woocommerce-tabs ul.tabs .description_tab a:hover{color:#222222;text-decoration:none;}
.woocommerce.single-product div.product .woocommerce-tabs ul.tabs li a:focus,
.woocommerce.single-product div.product .woocommerce-tabs ul.tabs li a:active,
.woocommerce.single-product div.product .woocommerce-tabs ul.tabs .description_tab a:focus,
.woocommerce.single-product div.product .woocommerce-tabs ul.tabs .description_tab a:active{outline:none;}
.woocommerce.single-product div.product .woocommerce-tabs ul.tabs li.active,
.woocommerce.single-product div.product .woocommerce-tabs ul.tabs .description_tab.active{background:none;}
.woocommerce.single-product div.product .woocommerce-tabs ul.tabs li.active a,
.woocommerce.single-product div.product .woocommerce-tabs ul.tabs .description_tab.active a{color:#222222;text-shadow:inherit;}
.woocommerce.single-product div.product .woocommerce-tabs ul.tabs li.active a:after,
.woocommerce.single-product div.product .woocommerce-tabs ul.tabs .description_tab.active a:after{display:block;position:relative;top:4px;width:100%;height:1px;background:#28cdf0;content:"";}
.woocommerce.single-product div.product .woocommerce-tabs .panel{margin:0;padding:0;border-radius:0;box-shadow:none;}
.woocommerce.single-product div.product .woocommerce-tabs .panel h2{margin:0 0 30px;font-size:24px;line-height:1;}
.woocommerce #reviews #comments ol.commentlist{margin:0 0 20px;padding:0;}
.woocommerce #reviews #review_form #respond .comment-reply-title{margin:0 0 20px;}
.woocommerce #reviews #review_form #respond #commentform:before,
.woocommerce #reviews #review_form #respond #commentform:after{display:table;content:" ";}
.woocommerce #reviews #review_form #respond #commentform:after{clear:both;}
.woocommerce #reviews #review_form #respond #commentform p{position:relative;margin:0 0 20px;}
.woocommerce #reviews #review_form #respond #commentform p:before,
.woocommerce #reviews #review_form #respond #commentform p:after{display:table;content:" ";}
.woocommerce #reviews #review_form #respond #commentform p:after{clear:both;}
.woocommerce #reviews #review_form #respond #commentform .stars{margin:0;}
.woocommerce #reviews #review_form #respond #commentform label{display:block;}
.woocommerce #reviews #review_form #respond #commentform input[type="text"],
.woocommerce #reviews #review_form #respond #commentform input[type="email"],
.woocommerce #reviews #review_form #respond #commentform textarea{display:block;width:100%;padding:7px 10px;border:none;border-radius:3px;background:#edf3f4;font-size:12px;line-height:12px;}
@media (min-width:992px){.woocommerce #reviews #review_form #respond #commentform label{float:left;width:25%;}
.woocommerce #reviews #review_form #respond #commentform input[type="text"],
.woocommerce #reviews #review_form #respond #commentform input[type="email"]{float:right;width:75%;}
.woocommerce #reviews #review_form #respond #commentform textarea{float:right;width:75%;}
.woocommerce #reviews #review_form #respond #commentform .form-submit{float:right;width:75%;}
}
.section-book-details{clear:both;margin:30px 0 0;padding:40px 0 0;border-top:1px dashed #e5e5e5;}
.section-book-details .book-details h3{display:inline-block;position:relative;margin-top:0;font-size:26px;}
.section-book-details .book-authors h3{display:inline-block;position:relative;margin-top:0;font-size:26px;}
.section-book-details .book-authors h4{margin-bottom:5px;}
.section-book-details .book-authors img{width:120px;height:120px;}
.woocommerce .section-products-list,
.woocommerce-page .section-products-list{padding:60px 0;background:#2f2b35;}
.woocommerce .section-products-list .products h2,
.woocommerce-page .section-products-list .products h2{display:inline-block;position:relative;margin-top:0;color:#ffffff;font-size:26px;line-height:50px;}
.woocommerce .section-products-list .products ul,
.woocommerce-page .section-products-list .products ul{margin:0 -10px;}
.woocommerce .section-products-list:nth-child(even),
.woocommerce-page .section-products-list:nth-child(even){background:#f8f8f8;}
.woocommerce .section-products-list:nth-child(even) h2,
.woocommerce-page .section-products-list:nth-child(even) h2{color:#222222;}
.page.woocommerce-cart #content{padding:0;}
.page.woocommerce-cart #content .entry{padding:0;}
.woocommerce-cart .cart-empty{margin-top:50px;text-align:center;}
.woocommerce-cart .return-to-shop{margin-bottom:50px;text-align:center;}
.woocommerce-cart table.shop_table{margin-bottom:50px;}
.woocommerce-cart table.shop_table .cart_item .product-thumbnail a img{width:50px;}
@media (max-width:480px){.woocommerce-cart table.shop_table thead tr th.product-price{display:none;}
.woocommerce-cart table.shop_table tbody tr td{padding:5px;}
.woocommerce-cart table.shop_table tbody tr td.product-price{display:none;}
}
.woocommerce-cart table.cart input{line-height:15px;}
.woocommerce-cart table.cart td.actions{padding:20px 20px 0;border-top:1px solid #eeeeee;}
.woocommerce-cart table.cart td.actions .coupon input.input-text{min-width:120px;border:1px solid #dddddd;border-radius:3px;font-size:12px;line-height:15px;}
@media (max-width:480px){.woocommerce-cart table.cart td.actions .coupon input{width:100% !important;margin:0 0 10px 0 !important;}
}
@media (max-width:480px){.woocommerce-cart table.cart td.actions input{width:100% !important;}
}
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button{padding-top:13px;padding-bottom:13px;font-size:15px;}
.woocommerce .cart-collaterals h2,
.woocommerce-page .cart-collaterals h2{margin-top:0;font-size:24px;}
.woocommerce .cart-collaterals .cart_totals,
.woocommerce-page .cart-collaterals .cart_totals{float:none;width:100%;padding:40px 50px;border-top:1px dashed #e5e5e5;}
@media (max-width:480px){.woocommerce .cart-collaterals .cart_totals,
.woocommerce-page .cart-collaterals .cart_totals{padding:10px;}
}
.woocommerce .cart-collaterals .cart_totals table,
.woocommerce-page .cart-collaterals .cart_totals table{width:100%;}
.woocommerce .cart-collaterals .cart_totals table tbody tr,
.woocommerce-page .cart-collaterals .cart_totals table tbody tr{border-bottom:1px solid #eeeeee;}
.woocommerce .cart-collaterals .cart_totals table tbody tr td,
.woocommerce-page .cart-collaterals .cart_totals table tbody tr td{padding:10px 0;}
.woocommerce .cart-collaterals .cart_totals tr th,
.woocommerce-page .cart-collaterals .cart_totals tr th{width:auto;color:#222222;}
.woocommerce .cart-collaterals .cart_totals tr.shipping td .woocommerce-shipping-calculator,
.woocommerce-page .cart-collaterals .cart_totals tr.shipping td .woocommerce-shipping-calculator{margin-bottom:5px;}
.woocommerce .cart-collaterals .cart_totals tr.shipping td .woocommerce-shipping-calculator p,
.woocommerce-page .cart-collaterals .cart_totals tr.shipping td .woocommerce-shipping-calculator p{margin:0;}
.woocommerce .cart-collaterals .cart_totals tr.shipping td .woocommerce-shipping-calculator .shipping-calculator-form .form-row,
.woocommerce-page .cart-collaterals .cart_totals tr.shipping td .woocommerce-shipping-calculator .shipping-calculator-form .form-row{margin:10px 0;padding:0;}
.woocommerce .cart-collaterals .cart_totals tr.shipping td .woocommerce-shipping-calculator .shipping-calculator-form select,
.woocommerce-page .cart-collaterals .cart_totals tr.shipping td .woocommerce-shipping-calculator .shipping-calculator-form select{position:relative;height:36px;padding:0 10px 0 0;border:none;border-radius:0 !important;color:#a9a9a9;background:none;box-shadow:none;font-size:12px;font-weight:300;line-height:32px;text-transform:capitalize;}
.woocommerce .cart-collaterals .cart_totals tr.shipping td .woocommerce-shipping-calculator .shipping-calculator-form input,
.woocommerce-page .cart-collaterals .cart_totals tr.shipping td .woocommerce-shipping-calculator .shipping-calculator-form input{height:36px;padding:0 10px;border:2px solid #a7a7a7;border-radius:0;font-size:12px;}
.woocommerce .cart-collaterals .cross-sells,
.woocommerce-page .cart-collaterals .cross-sells{float:none;width:100%;padding:40px 50px 30px;background:#2f2b35;}
.woocommerce .cart-collaterals .cross-sells h2,
.woocommerce-page .cart-collaterals .cross-sells h2{display:inline-block;position:relative;margin-top:0;color:#ffffff;font-size:26px;}
.woocommerce .cart-collaterals .cross-sells ul.products li,
.woocommerce-page .cart-collaterals .cross-sells ul.products li{width:33.333333%;}
.woocommerce.columns-3 .cart-collaterals .cross-sells ul.products li,
.woocommerce-page.columns-3 .cart-collaterals .cross-sells ul.products li{width:33.333333%;}
@media (max-width:991px){.woocommerce.columns-3 .cart-collaterals .cross-sells ul.products li,
.woocommerce-page.columns-3 .cart-collaterals .cross-sells ul.products li{width:50%;}
}
@media (max-width:480px){.woocommerce.columns-3 .cart-collaterals .cross-sells ul.products li,
.woocommerce-page.columns-3 .cart-collaterals .cross-sells ul.products li{width:100% !important;}
}
.woocommerce.columns-4 .cart-collaterals .cross-sells ul.products li,
.woocommerce-page.columns-4 .cart-collaterals .cross-sells ul.products li{width:25%;}
@media (max-width:991px){.woocommerce.columns-4 .cart-collaterals .cross-sells ul.products li,
.woocommerce-page.columns-4 .cart-collaterals .cross-sells ul.products li{width:50%;}
}
@media (max-width:480px){.woocommerce.columns-4 .cart-collaterals .cross-sells ul.products li,
.woocommerce-page.columns-4 .cart-collaterals .cross-sells ul.products li{width:100% !important;}
}
.woocommerce-checkout .woocommerce h3{color:#222222;}
.woocommerce-checkout .woocommerce form.checkout_coupon .form-row input.button,
.woocommerce-checkout .woocommerce form.login .form-row input.button{padding-top:9px;padding-bottom:9px;}
.woocommerce-checkout .woocommerce form.checkout #customer_details .woocommerce-shipping-fields h3{position:relative;padding-left:30px;}
.woocommerce-checkout .woocommerce form.checkout #customer_details .woocommerce-shipping-fields h3 label{margin:0;font-weight:normal;}
.woocommerce-checkout .woocommerce form.checkout #customer_details .woocommerce-shipping-fields h3 .input-checkbox{position:absolute;top:11px;left:0;}
.woocommerce #payment label{color:#222222;}
.woocommerce #payment #place_order{padding:13px 25px;font-size:15px;}
@media (max-width:480px){.woocommerce-billing-fields p{float:none;width:100% !important;}
}
.woocommerce-account h2{margin-top:0;font-size:24px;line-height:1;}
.woocommerce form.login .lost_password{margin:0 0 6px;}
.woocommerce table.my_account_orders{border-bottom:1px solid #a7a7a7;border-radius:0;}
.woocommerce table.my_account_orders td,
.woocommerce table.my_account_orders th{padding:9px 12px;}
.woocommerce table.my_account_orders .order-actions{padding:2px 12px;}
.woocommerce table.my_account_orders .order-actions .button{margin:0;padding:0 20px;font-size:11px;line-height:22px;}
.woocommerce-account .addresses > div{margin:0 0 30px;padding:20px;border:1px solid #dddddd;border-radius:4px;}
.woocommerce-account .addresses address{margin:0;}
.woocommerce-account .addresses .title h3{margin-top:0;line-height:1;}
.woocommerce-account form h3{margin-top:0;font-size:20px;font-weight:normal;line-height:1em;}
.woocommerce-edit-address input.button{margin:20px 0 10px;}
.woocommerce-account .woocommerce-MyAccount-navigation{width:28%;margin-bottom:40px;}
.woocommerce-account .woocommerce-MyAccount-content{width:68%;}
.woocommerce-MyAccount-navigation ul{margin:0;padding:0;border-top:1px solid #f2f0f0;}
.woocommerce-MyAccount-navigation ul li{position:relative;border-bottom:1px solid #f2f0f0;list-style:none;}
.woocommerce-MyAccount-navigation ul li.is-active a:before{opacity:1;}
.woocommerce-MyAccount-navigation ul li a{display:block;padding:0.857em 0;}
.woocommerce-MyAccount-navigation ul li a:before{display:inline-block;float:right;width:1.387em;margin-left:0.53em;opacity:0.25;font-family:FontAwesome;font-size:inherit;line-height:1.618;text-align:right;content:"\f0f6";-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;text-rendering:auto;}
.woocommerce-MyAccount-navigation ul li a:hover:before{opacity:1;}
.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--dashboard a:before{content:"\f0e4";}
.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--orders a:before{content:"\f291";}
.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--downloads a:before{content:"\f1c6";}
.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--edit-address a:before{content:"\f015";}
.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--payment-methods a:before{content:"\f09d";}
.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--edit-account a:before{content:"\f007";}
.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--customer-logout a:before{content:"\f08b";}
.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--subscriptions a:before{content:"\f021";}
@media only screen and (max-width:767px){.woocommerce-account .woocommerce-MyAccount-navigation,
.woocommerce-account .woocommerce-MyAccount-content{float:none;width:100%;}
}
.woocommerce ul.product_list_widget{margin:0;}
.woocommerce ul.product_list_widget li{position:relative;margin-bottom:25px;padding:0 0 50px 70px;font-family:"Montserrat", sans-serif;}
.woocommerce ul.product_list_widget li:before,
.woocommerce ul.product_list_widget li:after{display:table;content:" ";}
.woocommerce ul.product_list_widget li:after{clear:both;}
.woocommerce ul.product_list_widget li img{position:absolute;top:0;left:0;width:50px;max-width:50px;margin:0 15px 0 0;}
.woocommerce ul.product_list_widget li .star-rating{margin:5px 0 0;}
.woocommerce ul.product_list_widget li .star-rating span{color:#2f2b35;}
.woocommerce ul.product_list_widget li .product-title{display:block;overflow:hidden;padding-top:3px;color:#222222;font-size:13px;font-weight:normal;line-height:20px;white-space:nowrap;text-transform:capitalize;text-overflow:ellipsis;}
.woocommerce ul.product_list_widget li span.amount{color:#222222;font-size:13px;font-weight:600;}
.woocommerce ul.product_list_widget li del{color:#9a9a9a;}
.woocommerce ul.product_list_widget li del span.amount{color:#9a9a9a;}
.woocommerce .widget_shopping_cart .cart_list,
.woocommerce.widget_shopping_cart .cart_list{margin:0;padding-left:14px;}
.woocommerce .widget_shopping_cart .cart_list li,
.woocommerce.widget_shopping_cart .cart_list li{padding:0 0 15px 60px;}
.woocommerce .widget_shopping_cart .cart_list li a,
.woocommerce.widget_shopping_cart .cart_list li a{color:#222222;font-weight:normal;}
.woocommerce .widget_shopping_cart .cart_list li .quantity,
.woocommerce.widget_shopping_cart .cart_list li .quantity{display:block;}
.woocommerce .widget_shopping_cart .cart_list li a.remove,
.woocommerce.widget_shopping_cart .cart_list li a.remove{left:-20px;}
.woocommerce .widget_shopping_cart .cart_list li.empty,
.woocommerce.widget_shopping_cart .cart_list li.empty{padding:0;}
.woocommerce .widget_shopping_cart .total,
.woocommerce.widget_shopping_cart .total{margin:0 0 20px;padding:10px 0;border-top:1px dashed #e5e5e5;border-bottom:1px dashed #e5e5e5;}
.woocommerce .widget_shopping_cart .total .amount,
.woocommerce.widget_shopping_cart .total .amount{float:right;color:#222222;font-weight:bold;}
.woocommerce .widget_shopping_cart .buttons .button.wc-forward,
.woocommerce.widget_shopping_cart .buttons .button.wc-forward{float:left;}
.woocommerce .widget_shopping_cart .buttons .button.wc-forward.checkout,
.woocommerce.widget_shopping_cart .buttons .button.wc-forward.checkout{float:right;}
.woocommerce ul.cart_list li dl dt,
.woocommerce ul.cart_list li dl dd,
.woocommerce ul.product_list_widget li dl dt,
.woocommerce ul.product_list_widget li dl dd{margin:0 5px 0 0;line-height:20px;}
.woocommerce ul.cart_list li dl dt p,
.woocommerce ul.cart_list li dl dd p,
.woocommerce ul.product_list_widget li dl dt p,
.woocommerce ul.product_list_widget li dl dd p{line-height:inherit;}
.woocommerce .widget_price_filter .ui-slider .ui-slider-range,
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle{background-color:#28cdf0;}