@font-face {
	font-family: 'Simple-Line-Icons';
	src:url('fonts/Simple-Line-Icons.eot');
	src:url('fonts/Simple-Line-Iconsd41d.eot?#iefix') format('embedded-opentype'),
		url('fonts/Simple-Line-Icons.woff') format('woff'),
		url('fonts/Simple-Line-Icons.ttf') format('truetype'),
		url('fonts/Simple-Line-Icons.svg#Simple-Line-Icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'Simple-Line-Icons';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.simple-icon-user-female, .simple-icon-user-follow, .simple-icon-user-following, .simple-icon-user-unfollow, .simple-icon-trophy, .simple-icon-screen-smartphone, .simple-icon-screen-desktop, .simple-icon-plane, .simple-icon-notebook, .simple-icon-moustache, .simple-icon-mouse, .simple-icon-magnet, .simple-icon-energy, .simple-icon-emoticon-smile, .simple-icon-disc, .simple-icon-cursor-move, .simple-icon-crop, .simple-icon-credit-card, .simple-icon-chemistry, .simple-icon-user, .simple-icon-speedometer, .simple-icon-social-youtube, .simple-icon-social-twitter, .simple-icon-social-tumblr, .simple-icon-social-facebook, .simple-icon-social-dropbox, .simple-icon-social-dribbble, .simple-icon-shield, .simple-icon-screen-tablet, .simple-icon-magic-wand, .simple-icon-hourglass, .simple-icon-graduation, .simple-icon-ghost, .simple-icon-game-controller, .simple-icon-fire, .simple-icon-eyeglasses, .simple-icon-envelope-open, .simple-icon-envelope-letter, .simple-icon-bell, .simple-icon-badge, .simple-icon-anchor, .simple-icon-wallet, .simple-icon-vector, .simple-icon-speech, .simple-icon-puzzle, .simple-icon-printer, .simple-icon-present, .simple-icon-playlist, .simple-icon-pin, .simple-icon-picture, .simple-icon-map, .simple-icon-layers, .simple-icon-handbag, .simple-icon-globe-alt, .simple-icon-globe, .simple-icon-frame, .simple-icon-folder-alt, .simple-icon-film, .simple-icon-feed, .simple-icon-earphones-alt, .simple-icon-earphones, .simple-icon-drop, .simple-icon-drawer, .simple-icon-docs, .simple-icon-directions, .simple-icon-direction, .simple-icon-diamond, .simple-icon-cup, .simple-icon-compass, .simple-icon-call-out, .simple-icon-call-in, .simple-icon-call-end, .simple-icon-calculator, .simple-icon-bubbles, .simple-icon-briefcase, .simple-icon-book-open, .simple-icon-basket-loaded, .simple-icon-basket, .simple-icon-bag, .simple-icon-action-undo, .simple-icon-action-redo, .simple-icon-wrench, .simple-icon-umbrella, .simple-icon-trash, .simple-icon-tag, .simple-icon-support, .simple-icon-size-fullscreen, .simple-icon-size-actual, .simple-icon-shuffle, .simple-icon-share-alt, .simple-icon-share, .simple-icon-rocket, .simple-icon-question, .simple-icon-pie-chart, .simple-icon-pencil, .simple-icon-note, .simple-icon-music-tone-alt, .simple-icon-music-tone, .simple-icon-microphone, .simple-icon-loop, .simple-icon-logout, .simple-icon-login, .simple-icon-list, .simple-icon-like, .simple-icon-home, .simple-icon-grid, .simple-icon-graph, .simple-icon-equalizer, .simple-icon-dislike, .simple-icon-cursor, .simple-icon-control-start, .simple-icon-control-rewind, .simple-icon-control-play, .simple-icon-control-pause, .simple-icon-control-forward, .simple-icon-control-end, .simple-icon-calendar, .simple-icon-bulb, .simple-icon-bar-chart, .simple-icon-arrow-up, .simple-icon-arrow-right, .simple-icon-arrow-left, .simple-icon-arrow-down, .simple-icon-ban, .simple-icon-bubble, .simple-icon-camcorder, .simple-icon-camera, .simple-icon-check, .simple-icon-clock, .simple-icon-close, .simple-icon-cloud-download, .simple-icon-cloud-upload, .simple-icon-doc, .simple-icon-envelope, .simple-icon-eye, .simple-icon-flag, .simple-icon-folder, .simple-icon-heart, .simple-icon-info, .simple-icon-key, .simple-icon-link, .simple-icon-lock, .simple-icon-lock-open, .simple-icon-magnifier, .simple-icon-magnifier-add, .simple-icon-magnifier-remove, .simple-icon-paper-clip, .simple-icon-paper-plane, .simple-icon-plus, .simple-icon-pointer, .simple-icon-power, .simple-icon-refresh, .simple-icon-reload, .simple-icon-settings, .simple-icon-star, .simple-icon-symbol-female, .simple-icon-symbol-male, .simple-icon-target, .simple-icon-volume-1, .simple-icon-volume-2, .simple-icon-volume-off, .simple-icon-users {
	font-family: 'Simple-Line-Icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.simple-icon-user-female:before {
	content: "\e000";
}
.simple-icon-user-follow:before {
	content: "\e002";
}
.simple-icon-user-following:before {
	content: "\e003";
}
.simple-icon-user-unfollow:before {
	content: "\e004";
}
.simple-icon-trophy:before {
	content: "\e006";
}
.simple-icon-screen-smartphone:before {
	content: "\e010";
}
.simple-icon-screen-desktop:before {
	content: "\e011";
}
.simple-icon-plane:before {
	content: "\e012";
}
.simple-icon-notebook:before {
	content: "\e013";
}
.simple-icon-moustache:before {
	content: "\e014";
}
.simple-icon-mouse:before {
	content: "\e015";
}
.simple-icon-magnet:before {
	content: "\e016";
}
.simple-icon-energy:before {
	content: "\e020";
}
.simple-icon-emoticon-smile:before {
	content: "\e021";
}
.simple-icon-disc:before {
	content: "\e022";
}
.simple-icon-cursor-move:before {
	content: "\e023";
}
.simple-icon-crop:before {
	content: "\e024";
}
.simple-icon-credit-card:before {
	content: "\e025";
}
.simple-icon-chemistry:before {
	content: "\e026";
}
.simple-icon-user:before {
	content: "\e005";
}
.simple-icon-speedometer:before {
	content: "\e007";
}
.simple-icon-social-youtube:before {
	content: "\e008";
}
.simple-icon-social-twitter:before {
	content: "\e009";
}
.simple-icon-social-tumblr:before {
	content: "\e00a";
}
.simple-icon-social-facebook:before {
	content: "\e00b";
}
.simple-icon-social-dropbox:before {
	content: "\e00c";
}
.simple-icon-social-dribbble:before {
	content: "\e00d";
}
.simple-icon-shield:before {
	content: "\e00e";
}
.simple-icon-screen-tablet:before {
	content: "\e00f";
}
.simple-icon-magic-wand:before {
	content: "\e017";
}
.simple-icon-hourglass:before {
	content: "\e018";
}
.simple-icon-graduation:before {
	content: "\e019";
}
.simple-icon-ghost:before {
	content: "\e01a";
}
.simple-icon-game-controller:before {
	content: "\e01b";
}
.simple-icon-fire:before {
	content: "\e01c";
}
.simple-icon-eyeglasses:before {
	content: "\e01d";
}
.simple-icon-envelope-open:before {
	content: "\e01e";
}
.simple-icon-envelope-letter:before {
	content: "\e01f";
}
.simple-icon-bell:before {
	content: "\e027";
}
.simple-icon-badge:before {
	content: "\e028";
}
.simple-icon-anchor:before {
	content: "\e029";
}
.simple-icon-wallet:before {
	content: "\e02a";
}
.simple-icon-vector:before {
	content: "\e02b";
}
.simple-icon-speech:before {
	content: "\e02c";
}
.simple-icon-puzzle:before {
	content: "\e02d";
}
.simple-icon-printer:before {
	content: "\e02e";
}
.simple-icon-present:before {
	content: "\e02f";
}
.simple-icon-playlist:before {
	content: "\e030";
}
.simple-icon-pin:before {
	content: "\e031";
}
.simple-icon-picture:before {
	content: "\e032";
}
.simple-icon-map:before {
	content: "\e033";
}
.simple-icon-layers:before {
	content: "\e034";
}
.simple-icon-handbag:before {
	content: "\e035";
}
.simple-icon-globe-alt:before {
	content: "\e036";
}
.simple-icon-globe:before {
	content: "\e037";
}
.simple-icon-frame:before {
	content: "\e038";
}
.simple-icon-folder-alt:before {
	content: "\e039";
}
.simple-icon-film:before {
	content: "\e03a";
}
.simple-icon-feed:before {
	content: "\e03b";
}
.simple-icon-earphones-alt:before {
	content: "\e03c";
}
.simple-icon-earphones:before {
	content: "\e03d";
}
.simple-icon-drop:before {
	content: "\e03e";
}
.simple-icon-drawer:before {
	content: "\e03f";
}
.simple-icon-docs:before {
	content: "\e040";
}
.simple-icon-directions:before {
	content: "\e041";
}
.simple-icon-direction:before {
	content: "\e042";
}
.simple-icon-diamond:before {
	content: "\e043";
}
.simple-icon-cup:before {
	content: "\e044";
}
.simple-icon-compass:before {
	content: "\e045";
}
.simple-icon-call-out:before {
	content: "\e046";
}
.simple-icon-call-in:before {
	content: "\e047";
}
.simple-icon-call-end:before {
	content: "\e048";
}
.simple-icon-calculator:before {
	content: "\e049";
}
.simple-icon-bubbles:before {
	content: "\e04a";
}
.simple-icon-briefcase:before {
	content: "\e04b";
}
.simple-icon-book-open:before {
	content: "\e04c";
}
.simple-icon-basket-loaded:before {
	content: "\e04d";
}
.simple-icon-basket:before {
	content: "\e04e";
}
.simple-icon-bag:before {
	content: "\e04f";
}
.simple-icon-action-undo:before {
	content: "\e050";
}
.simple-icon-action-redo:before {
	content: "\e051";
}
.simple-icon-wrench:before {
	content: "\e052";
}
.simple-icon-umbrella:before {
	content: "\e053";
}
.simple-icon-trash:before {
	content: "\e054";
}
.simple-icon-tag:before {
	content: "\e055";
}
.simple-icon-support:before {
	content: "\e056";
}
.simple-icon-size-fullscreen:before {
	content: "\e057";
}
.simple-icon-size-actual:before {
	content: "\e058";
}
.simple-icon-shuffle:before {
	content: "\e059";
}
.simple-icon-share-alt:before {
	content: "\e05a";
}
.simple-icon-share:before {
	content: "\e05b";
}
.simple-icon-rocket:before {
	content: "\e05c";
}
.simple-icon-question:before {
	content: "\e05d";
}
.simple-icon-pie-chart:before {
	content: "\e05e";
}
.simple-icon-pencil:before {
	content: "\e05f";
}
.simple-icon-note:before {
	content: "\e060";
}
.simple-icon-music-tone-alt:before {
	content: "\e061";
}
.simple-icon-music-tone:before {
	content: "\e062";
}
.simple-icon-microphone:before {
	content: "\e063";
}
.simple-icon-loop:before {
	content: "\e064";
}
.simple-icon-logout:before {
	content: "\e065";
}
.simple-icon-login:before {
	content: "\e066";
}
.simple-icon-list:before {
	content: "\e067";
}
.simple-icon-like:before {
	content: "\e068";
}
.simple-icon-home:before {
	content: "\e069";
}
.simple-icon-grid:before {
	content: "\e06a";
}
.simple-icon-graph:before {
	content: "\e06b";
}
.simple-icon-equalizer:before {
	content: "\e06c";
}
.simple-icon-dislike:before {
	content: "\e06d";
}
.simple-icon-cursor:before {
	content: "\e06e";
}
.simple-icon-control-start:before {
	content: "\e06f";
}
.simple-icon-control-rewind:before {
	content: "\e070";
}
.simple-icon-control-play:before {
	content: "\e071";
}
.simple-icon-control-pause:before {
	content: "\e072";
}
.simple-icon-control-forward:before {
	content: "\e073";
}
.simple-icon-control-end:before {
	content: "\e074";
}
.simple-icon-calendar:before {
	content: "\e075";
}
.simple-icon-bulb:before {
	content: "\e076";
}
.simple-icon-bar-chart:before {
	content: "\e077";
}
.simple-icon-arrow-up:before {
	content: "\e078";
}
.simple-icon-arrow-right:before {
	content: "\e079";
}
.simple-icon-arrow-left:before {
	content: "\e07a";
}
.simple-icon-arrow-down:before {
	content: "\e07b";
}
.simple-icon-ban:before {
	content: "\e07c";
}
.simple-icon-bubble:before {
	content: "\e07d";
}
.simple-icon-camcorder:before {
	content: "\e07e";
}
.simple-icon-camera:before {
	content: "\e07f";
}
.simple-icon-check:before {
	content: "\e080";
}
.simple-icon-clock:before {
	content: "\e081";
}
.simple-icon-close:before {
	content: "\e082";
}
.simple-icon-cloud-download:before {
	content: "\e083";
}
.simple-icon-cloud-upload:before {
	content: "\e084";
}
.simple-icon-doc:before {
	content: "\e085";
}
.simple-icon-envelope:before {
	content: "\e086";
}
.simple-icon-eye:before {
	content: "\e087";
}
.simple-icon-flag:before {
	content: "\e088";
}
.simple-icon-folder:before {
	content: "\e089";
}
.simple-icon-heart:before {
	content: "\e08a";
}
.simple-icon-info:before {
	content: "\e08b";
}
.simple-icon-key:before {
	content: "\e08c";
}
.simple-icon-link:before {
	content: "\e08d";
}
.simple-icon-lock:before {
	content: "\e08e";
}
.simple-icon-lock-open:before {
	content: "\e08f";
}
.simple-icon-magnifier:before {
	content: "\e090";
}
.simple-icon-magnifier-add:before {
	content: "\e091";
}
.simple-icon-magnifier-remove:before {
	content: "\e092";
}
.simple-icon-paper-clip:before {
	content: "\e093";
}
.simple-icon-paper-plane:before {
	content: "\e094";
}
.simple-icon-plus:before {
	content: "\e095";
}
.simple-icon-pointer:before {
	content: "\e096";
}
.simple-icon-power:before {
	content: "\e097";
}
.simple-icon-refresh:before {
	content: "\e098";
}
.simple-icon-reload:before {
	content: "\e099";
}
.simple-icon-settings:before {
	content: "\e09a";
}
.simple-icon-star:before {
	content: "\e09b";
}
.simple-icon-symbol-female:before {
	content: "\e09c";
}
.simple-icon-symbol-male:before {
	content: "\e09d";
}
.simple-icon-target:before {
	content: "\e09e";
}
.simple-icon-volume-1:before {
	content: "\e09f";
}
.simple-icon-volume-2:before {
	content: "\e0a0";
}
.simple-icon-volume-off:before {
	content: "\e0a1";
}
.simple-icon-users:before {
	content: "\e001";
}